.fullcalendar {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	.header {
		display: flex;
		align-self: center;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 20px;
		width: 80%;
		height: 200px;
		border-bottom: 1px solid grey;
		.input {
			input {
				outline: none;
				padding: 5px;
				text-align: center;
			}
		}
		.error {
			color: red;
		}
		.show {
			height: 29px;
			display: flex;
			align-items: center;
			margin-left: 20px;
			// border: 1px solid grey;
			border-radius: 2px;
			width: 80px;
			justify-content: center;
			background-color: lightgrey;
			cursor: pointer;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
	}
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1024px;
		align-self: center;
		padding-top: 20px;
	}
}
